
*{
	margin:0 px;
	padding:0 px;
	border-boxing: border-box;
	
	}
	.row{
	width: 100%;
	height: 0 15px
	}
	
	h1{
	text-align: center;
	margin-bottom:2px;
    font-size:1.75em;
	font-family: verdana;
	}

	p{
	clear: right;
	padding: 10px;}
	
	#first{
	position: relative;
	background: #999999; 
	border: 1px solid;
	margin: 10px ;
}
	
	
	
	 #menu{
	float: right;
	position: relative;
	top: 0px;
	right: 1px;
	padding: 5px;
	border: 1px solid;
	font-size: 1.25em;
	margin-right:-1px;
	}
	
	.dish-color1{
	background-color: pink;
	}
	
	.dish-color2{
	background-color:red ;
	}
    .dish-color3{	
     background-color:yellow;
	}
	
	/* Large Devices Only*/
@media (min-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
.col-lg-6,.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
.col-lg-11, .col-lg-12 
	{
		float: left;
	}
	.col-lg-4{
		width: 33.33%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-12{
		width: 100%;
	}

}

/* Medium devices only*/

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
	.col-md-11, .col-md-12
	{
		float: left;
	}
	.col-md-4{
		width: 33.33%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}